<launch>
<!-- Launch file for Livox MID360 LiDAR -->

	<arg name="rviz" default="true" />
	<arg name="use_sim_time" default="true" />
	<arg name="test_name" default="aristos_test" />
	<arg name="fast_lio_publish_tf" default="false" />
	<arg name="global_ekf" default="true" />
	<arg name="two_d_mode" default="true" /> 
	<arg name="localization_type" default="lidar" /> <!-- lidar, legacy -->
	<arg name="pmx_type" default="no_pmx" /> <!-- pmx, no_pmx -->
	<arg name="lidar_config_file" default="mid360" />
	<arg name="localization_relay" default="false" /> <!-- allows to relay topics, but relies on the untested fastlio_mapping_halt implementation -->
	<arg name="global_ekf_output_topic" default="ekf/global/pose_estimation"/> 
	<arg name="field" default="gr-domokos-field" /> 	<!-- gr-domokos-field, it-fondazione-fornasini-field -->

	<arg name="local_filter_type" default="lidar" /> 

	<!-- The following params should be set together in order to relay onlyRTK topic.
	Either (false, "") or (true, "_relay") 
	Keep in mind that only in no_pmx type will take effect-->
	<arg name="rtk_relay" default="true" /> 
	<arg name="rtk_relay_extension" default="_relay" />

	<arg name="modify_imu" default="false" /> 
	<arg name="bootstrap_imu" default="false" /> 
	<arg name="republisher" default="true" /> 
	<arg name="gnss_heading" default="false" /> 
	<arg name="heading_relay" default="false" /> 
	<arg name="yaw_rmse" default="false" /> 
	<arg name="imu_onlyRTK_relay" default="false" /> 
	
	<arg name="record" default="false" />
	<arg name="rosbag_name" default="under_feat1_fss05_fsm05" />


	<param name="use_sim_time" value="$(arg use_sim_time)" />

   <group ns="$(arg test_name)">

		<!-- Parameters -->
		<rosparam file="$(find fast_lio)/aristos/config/ekf_global_$(arg localization_type)_$(arg pmx_type).yaml" command="load" subst_value="True">
			<param name="test_name" value="$(arg test_name)" />
			<param name="two_d_mode" value="$(arg two_d_mode)" />
			<param name="rtk_relay_extension" value="$(arg rtk_relay_extension)" />
		</rosparam>

		<rosparam file="$(find fast_lio)/aristos/config/ekf_local_$(arg local_filter_type).yaml" command="load" subst_value="True">
			<param name="test_name" value="$(arg test_name)" />
			<param name="two_d_mode" value="$(arg two_d_mode)" />
		</rosparam>

		<rosparam file="$(find fast_lio)/aristos/config/$(arg lidar_config_file).yaml"  command="load" subst_value="True">
			<param name="fast_lio_publish_tf" value="$(arg fast_lio_publish_tf)" />
		</rosparam>

		<param name="feature_extract_enable" type="bool" value="0"/>
		<param name="point_filter_num" type="int" value="3"/>
		<param name="max_iteration" type="int" value="3" />
		<param name="filter_size_corner" type="double" value="0.5" /> <!-- default --> 
		<param name="filter_size_surf" type="double" value="0.5" />
		<param name="filter_size_map" type="double" value="0.5" />
		<param name="cube_side_length" type="double" value="1000" />
		<param name="runtime_pos_log_enable" type="bool" value="0" />

		<!-- Run FAST-LIO -->
		<group if="$(arg localization_relay)">
			<node pkg="fast_lio" type="fastlio_mapping_halt" name="laserMapping" output="screen" /> 
		</group>
		<group unless="$(arg localization_relay)">
			<node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" /> 
		</group>

		<!--- Run RViz -->
		<group if="$(arg rviz)">
			<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio)/aristos/rviz_cfg/loam_livox.rviz" />
		</group>

		<!--- Run Navsat -->
		<include file="$(find fast_lio)/aristos/launch/module_navsat.launch" >
			<arg name="imu_topic" default="imu/data"/>
			<!-- <arg name="gps_topic" default="gps/fix"/> -->
			<arg name="fast_lio_publish_tf" default="$(arg fast_lio_publish_tf)"/>
			<arg name="global_ekf" default="$(arg global_ekf)"/>
			<arg name="global_ekf_output_topic" default="$(arg global_ekf_output_topic)"/> 
		</include>

		<!-- Localization relay node -->
		<group if="$(arg localization_relay)">
			<node pkg="fast_lio" type="localization_relay.py" name="localization_relay_node" output="screen"> 
				<remap from="imu" to="imu/data" />
				<remap from="wheel_odom" to="wheel/odom" />
				<remap from="lidar_odom" to="Odometry" />
				<remap from="relay/imu" to="imu/data_relay" />
				<remap from="relay/wheel_odom" to="wheel/odom_relay" />
				<!-- <remap from="relay/lidar_odom" to="Odometry_relay" /> -->
			</node> 
		</group>

		<!-- RTK relay node -->
		<group if="$(arg rtk_relay)">
			<node pkg="fast_lio" type="rtk_relay.py" name="rtk_relay_node" output="screen"> 
				<!-- <remap from="odometry/gps/onlyRTK" to="odometry/gps/onlyRTK" /> -->
				<remap from="relay/odometry/gps/onlyRTK" to="odometry/gps/onlyRTK_relay" />
			</node> 
		</group>

		<!--Modify IMU node -->
		<group if="$(arg modify_imu)">
			<node pkg="fast_lio" type="imu_modifier.py" name="imu_modifier_node" output="screen"> 
				<remap from="imu/data" to="imu/data/relative" />
				<param name="yaw_offset" value="0.0" />
				<param name="variance" value="0.0001" />
			</node> 
		</group>

		<!--Bootstrap IMU node -->
		<group if="$(arg bootstrap_imu)">
			<node pkg="fast_lio" type="imu_bootstrap.py" name="imu_bootstrap_node" output="screen"> 
				<remap from="imu/data" to="imu/data/relative" />
				<remap from="active_ekf/odom" to="/aristos_xsens/ekf/global/pose_estimation" />
				<remap from="bootstrap_ekf/odom" to="ekf/global/pose_estimation" />
			</node> 
		</group>

		<!-- Republisher node -->
		<group if="$(arg republisher)">
			<node pkg="fast_lio" type="republisher.py" name="republisher_node" output="screen"> 
				<rosparam file="$(find fast_lio)/aristos/config/republisher.yaml"  command="load" subst_value="True">
					<param name="test_name" value="$(arg test_name)" />
				</rosparam>
				<remap from="imu" to="/aristos/imu/data/relative" />
				<remap from="rtk_odom" to="/aristos/odometry/gps/onlyRTK" />
				<remap from="wheel_odom" to="/aristos/wheel/odom" />
				<remap from="imu/repub" to="imu/data/relative" />
				<remap from="rtk_odom/repub" to="odometry/gps/onlyRTK" />
				<remap from="wheel_odom/repub" to="wheel/odom" />
			</node> 
		</group>

		<!-- GNSS heading -->
		<group if="$(arg gnss_heading)">
			<include file="$(find gnss_odom)/launch/gnss_odom.launch" >
			</include>	
		</group>	

		<!-- Heading Relay -->
		<group if="$(arg heading_relay)">
			<node pkg="fast_lio" type="heading_relay.py" name="heading_relay_node" output="screen"> 
				<remap from="imu" to="imu/data/relative" />
				<remap from="odom" to="odometry/gps/onlyRTK" />
				<param name="distance_threshold" value="2" />
				<param name="velocity_threshold" value="0.4" />
				<param name="window_size" value="20" />
			</node>
		</group>	

		<!-- Yaw Relay -->
		<group if="$(arg yaw_rmse)">
			<node pkg="fast_lio" type="yaw_rmse.py" name="yaw_rmse_node" output="screen"> 
				<remap from="imu/data" to="imu/data/relative" />
				<remap from="gnss_heading" to="gnss_heading/odom" />
				<!-- <param name="window_size" value="20" /> -->
			</node>
		</group>	

		<!-- IMU onlyRTK Relay -->
		<group if="$(arg imu_onlyRTK_relay)">
			<node pkg="fast_lio" type="imu_onlyRTK_relay.py" name="imu_onlyRTK_relay_node" output="screen"> 
				<remap from="imu/data" to="imu/data/relative" />
				<remap from="onlyRTK" to="odometry/gps/onlyRTK" />
				<remap from="imu_onlyRTK/relay" to="imu_onlyRTK/relay" />
				<param name="timeout" value="1" />
			</node>
		</group>	

		<!-- Multiple maps node -->
		<include file="$(find aristos_maps)/launch/multiple_maps.launch" >
			<arg name="map_file" default="$(env HOME)/.ikh/fields/$(arg field)/maps/multimap_environment.yaml"/>
			<arg name="maps_path" default="$(env HOME)/.ikh/fields/$(arg field)/maps"/>
		</include>

		<!--- Robot State TF -->
		<include file="$(find fast_lio)/aristos/launch/module_robot_state_publisher.launch" >
			<arg name="test_name" default="$(arg test_name)"/>
		</include>

		<!--- Rosbag record -->
 		<node pkg="rosbag" type="record" name="rosbag_record"
       		args="record -o /home/aristos/catkin_ws/bags/comparison/$(arg rosbag_name) /$(arg test_name)/Odometry /$(arg test_name)/ground_truth /$(arg test_name)/odometry/navsat /$(arg test_name)/odometry/onlyRTK /$(arg test_name)/wheel/odom"
       if="$(arg record)" />

		<!-- <node pkg="tf" type="static_transform_publisher" name="static_publisher" args="-75.9292962362 52.8949042433 0 0 0 -0.264  0.967  /map /camera_init  100"/> -->
    </group>

</launch>



<!-- rosbag play -clock bags/trj_vertL_2025-01-29-14-28-35.bag /tf:=tf_mute /aristos/Odometry:=aristos/Odometry_mute /aristos/odometry/gps/onlyRTK_relay:=/aristos/odometry/gps/onlyRTK_relay_mute /aristos/imu/data_relay:=/aristos/imu/data_relay_mute -->
