<launch>
<!-- Launch file for Livox MID360 LiDAR -->
    <param name="use_sim_time" type="bool" value="true" />
    <!---  -->
    <include file="$(find fast_lio)/aristos/launch/aristos_mapping_mid360.launch" >
        <arg name="rviz" default="true" />
        <arg name="test_name" default="aristos_lvx" />
        <arg name="lidar_config" default="mid360_lvx_imu.yaml"/> <!-- mid360, mid360_lvx_imu -->
        <arg name="fast_lio_publish_tf" default="false" />
        <arg name="global_ekf" default="false" />
        <arg name="two_d_mode" default="false" /> 
        <arg name="localization_type" default="lvx_imu" /> <!-- lvx_imu, lidar, legacy -->
        <arg name="pmx_type" default="no_pmx" /> <!-- pmx, no_pmx -->
        <arg name="localization_relay" default="false" /> <!-- allows to relay topics, but relies on the untested fastlio_mapping_halt implementation -->
        <arg name="global_ekf_output_topic" default="fast_lio_odom"/> 
        <arg name="field" default="it-fondazione-fornasini-field" /> 	<!-- gr-domokos-field, it-fondazione-fornasini-field -->

        <!-- The following params should be set together in order to relay onlyRTK topic.
        Either (false, "") or (true, "_relay") 
        Keep in mind that only in no_pmx type will take effect-->
        <arg name="rtk_relay" default="false" /> 
        <arg name="rtk_relay_extension" default="" />

        <arg name="record" default="false" />
        <arg name="rosbag_name" default="under_feat1_fss05_fsm05" />
    </include>

    <include file="$(find fast_lio)/aristos/launch/aristos_mapping_mid360.launch" >
        <arg name="rviz" default="false" />
        <arg name="test_name" default="aristos" />
        <arg name="lidar_config" default="mid360.yaml"/> <!-- mid360, mid360_lvx_imu -->
        <arg name="fast_lio_publish_tf" default="false" />
        <arg name="global_ekf" default="false" />
        <arg name="two_d_mode" default="false" /> 
        <arg name="localization_type" default="lidar" /> <!-- lvx_imu, lidar, legacy -->
        <arg name="pmx_type" default="no_pmx" /> <!-- pmx, no_pmx -->
        <arg name="localization_relay" default="false" /> <!-- allows to relay topics, but relies on the untested fastlio_mapping_halt implementation -->
        <arg name="global_ekf_output_topic" default="fast_lio_odom"/> 
        <arg name="field" default="it-fondazione-fornasini-field" /> 	<!-- gr-domokos-field, it-fondazione-fornasini-field -->

        <!-- The following params should be set together in order to relay onlyRTK topic.
        Either (false, "") or (true, "_relay") 
        Keep in mind that only in no_pmx type will take effect-->
        <arg name="rtk_relay" default="false" /> 
        <arg name="rtk_relay_extension" default="" />

        <arg name="record" default="false" />
        <arg name="rosbag_name" default="under_feat1_fss05_fsm05" />
    </include>



</launch>