<launch>

    <arg name="project" default="fast_lio"/>
    <arg name="imu_topic" default="imu_correct"/>
    <arg name="gps_topic" default="gps/fix"/>

    <!-- <env name="ROSCONSOLE_CONFIG_FILE" value="$(find lio_sam)/launch/include/rosconsole/rosconsole_error.conf"/> -->
    
    <!-- EKF LOCAL (in case odom->base published be robot_localization and not laserMapping)--> 
    <!-- <node pkg="robot_localization" type="ekf_localization_node" output="screen" name="ekf_local" respawn="true">
        <remap from="odometry/filtered" to="odometry/local" />
    </node> -->

    <!-- EKF GPS-->
    <node pkg="robot_localization" type="ekf_localization_node" output="screen" name="ekf_gps" respawn="true">
        <remap from="odometry/filtered" to="odometry/navsat" />
    </node>

    <!-- Navsat (in case odometry/gps is used and not odemetry/onlyRTK)-->
    <!-- <node pkg="robot_localization" type="navsat_transform_node" output="screen" name="navsat" respawn="true">
        <remap from="imu/data" to="$(arg imu_topic)" />
        <remap from="gps/fix" to="$(arg gps_topic)" />
        <remap from="odometry/filtered" to="odometry/navsat" />
    </node> -->

</launch>